%h1= @student.name
%p
  %strong Danbom
  = @student.danbom
%p
  %strong Edad
  = @student.age
%p
  %strong Dojang
  = @student.dojang
%p
  %strong Maestro
  = @student.teacher
%p
  %strong Año de examen
  = @student.exam_age
%p
  %strong Estado
  = @student.state.name
%p
  %strong Grado
  = @student.grade.name
%p
  = link_to 'Regresar', admin_students_path,
    class: 'btn btn-success'
  = link_to 'Editar', edit_admin_student_path(@student),
    class: 'btn btn-warning'
  = link_to 'Borrar', admin_student_path(@student), method: :delete,
    data: { confirm: '¿Desea continuar?' }, class: 'btn btn-danger'
