%p
  = link_to 'Entrar utilizando tu correo de Gmail', '/auth/google_oauth2',
    class: 'btn btn-lg btn-primary btn-block'
%h1 Estudiantes
- if @students.empty?
  %p Aun no hay estudiantes registrados
- else
  %table.table.table-striped
    %thead
      %tr
        %th Danbom
        %th Nombre completo
        %th Edad
        %th Estado
        %th Grado
        %th Dojang
        %th Maestro
        %th Año de examen
    %tbody
      - @students.each do |student|
        %tr
          %td= student.danbom
          %td= student.name
          %td= student.age
          %td= student.state.name unless student.state.nil?
          %td= student.grade.name unless student.grade.nil?
          %td= student.dojang
          %td= student.teacher
          %td= student.exam_age
