!!! 5
%html
  %head
    %title ammdk admin
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default.navbar-fixed-top
        .container
          - if session['user_id']
            .navbar-header
              = link_to 'Admin', admin_root_path, class: 'navbar-brand'
            .collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li= link_to 'Estudiantes', admin_students_path
                %li= link_to 'Rangos', admin_grades_path
                %li= link_to 'Estados', admin_states_path
                %li= link_to 'Admins', admin_users_path
                %li= link_to 'Salir', logout_path
          - else
            .navbar-header
              = link_to 'AMMDK', root_path, class: 'navbar-brand'
    .container.container-all-pages
      .row
        .col-md-12
          = yield
